.ex-1-square:hover {
    background-color: red;
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
    background: red;
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
    transition: 3s;
}

.ex-4-square:hover {
    opacity: 0;
    transition: 3s;
}

.ex-5-square:hover {
    width: 80px;
    height: 80px;
    transition: 3s;
}

.ex-5-square:active {
    width: 30px;
    height: 30px;
    transition: 3s;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img:hover{
    filter: grayscale(100%);
    transition: 3s;
}

.ex-8-img:hover{
    filter: saturate(130%);
    filter: contrast(130%);
    border-radius: 50px;
    transition: 3s;
}

.ex-9-img:hover{
    scale: 1.5;
    filter: saturate(130%);
    filter: contrast(130%);
    border-radius: 50px;
    transition: 3s;
}






@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.ex-10-icon {
    animation: rotation 2s infinite linear;
}

@keyframes exa {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(-270deg);
      }
  }

.ex-11-icon:hover {
    animation-name: exa;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}





@keyframes boxtop {
    from {
        left: 10%;
      }
      to {
        left: 60%;
      }
  }

.ex-12-top-white{
    animation: boxtop 1s infinite alternate ease-in-out;
}


@keyframes boxbot {
    from {
        right: 20%;
      }
      to {
        right: 60%;
      }
  }
.ex-12-bottom-white {
    animation: boxbot 1s infinite alternate ease-in-out;
}





@keyframes boxtoptotal {
    0%   {top: -30%; left: -10%;}
    25%  {top: -30%; left: 99%}
    50%  {top: 100%; left: 99%;}
    75%  {top: 100%; left: -10%;}
    100% {top: -30%; left: -10%;}
  }

.ex-13-top-white{
    animation: boxtoptotal 5s infinite linear;
    /* border: 1px solid red; */
}

@keyframes boxbottotal {
    0%   {top: 100%; left: 100%;}
    25%  {top: 100%; left: -10%}
    50%  {top: -30%; left: -10%;}
    75%  {top: -30%; left: 100%;}
    100% {top: 100%; left: 100%;}
  }

.ex-13-bottom-white{
    animation: boxbottotal 5s infinite linear;
    /* border: 1px solid red; */
}